<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/burgerNav.css">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>mymonie mobile</title>
</head>
<body>
    <header>
        <div id="burgerNav">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <a href="/" id="logo">
            Ena<span class="diff">land</span>
        </a>
    </header>

    <!-- sidebar -->
    <div class="sidebar">
        <ul>
            <li>
                <a href="#" >Contact</a>
            </li>
        </ul>
    </div>

    <%- body %>


<script src="/js//jquery-3.4.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- control nav -->
<script src="/js/ui.js"></script>
</body>
</html>